html {
  font-size: 15px;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px; /*сверху, слева-справа, снизу*/
}

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*Header*/

.header {
  padding: 1rem 0;
  margin-bottom: 100px;

  background: #2b7ded;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  display: block;
}

.header-brand {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.header-nav {
  display: flex;
}

.header-nav-link {
  margin-left: 1.5rem;

  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s linear;
}

.header-nav-link:hover {
  color: #cbcff8;
}

.header-nav-link.active {
  position: relative;
}

.header-nav-link.active::after {
  content: '';
  width: 100%;
  height: 2px;

  background-color: #fff;

  position: absolute;
  left: 0;
  bottom: -3px;
}

/*Content*/

.page {
  width: 100%;
  height: 100vh; /*высота viev port - окна браузера*/
  position: relative;

  background: url(img/bg.jpg) center no-repeat;
  background-size: cover;
}

.content {
  color: #fff;

  height: 100%;
  width: 100%;
  max-width: 600px;
}

.subtitle {
  font-size: 1.4rem;
  opacity: 60%;
  font-weight: lighter;
}

.title {
  font-size: 2rem;
  margin-bottom: 35px;
  font-weight: 500px;
  line-height: 2;
}

.title.form-message {
  margin-bottom: 0;
}

.title span {
  color: #2b7ded;
}

.text {
  font-size: 1rem;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  max-width: 280px;
}

.form-group {
  margin-bottom: 20px;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 12px 18px;

  font-family: inherit;
  color: #fff;

  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 10%);
}

.textarea {
  height: 100px;
  resize: none;
}

.textarea::placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

/*Button*/

.btn {
  padding: 12px 35px;
  display: inline-block;

  font-family: inherit;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.1;

  cursor: pointer;
  background-color: #2b7ded;
  border-radius: 5px;
  border: none;

  transition: background-color 0.2s;
}

.btn-full {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #276bca;
}

/* Author */

.author {
  position: absolute;

  height: 90%;
  width: auto;

  right: 20px;
  bottom: 0;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  display: inherit;
  margin: 0;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 45px;
  left: 0;

  width: 100%;
}

.contacts {
  display: flex;
  align-items: flex-end;
}

.contacts-link {
  margin-right: 2rem;

  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.contacts-link:last-child {
  margin-right: 0;
  position: relative;
}

.contacts-link:last-child::after {
  display: block;
  height: 2px;
  width: 80px;
  content: '';
  margin-left: 2rem;

  background-color: #fff;
  pointer-events: none;

  position: absolute;
  left: 100%;
  top: 11px;
}

.contacts-link:hover {
  text-decoration: underline;
}

.contacts-icon {
  margin-right: 5px;
}

/* Media */

@media (max-width: 767px) {
  .header-logo {
    display: none;
  }

  .header-brand {
    font-size: 1.2rem;
  }

  .header-brand {
    margin-bottom: 2rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .form {
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .contacts-link:last-child::after {
    display: none;
  }

  .header-inner {
    flex-direction: column;
  }

  .header-brand {
    margin-bottom: 1rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .title {
    line-height: 1.5;
  }

  .content {
    text-align: center;
    max-width: none;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts-link {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .author {
    display: none;
  }

  .page {
    height: auto;
    min-height: 100vh;
    padding-bottom: 1rem;
  }

  .footer {
    margin-top: 50px;
    position: static;
  }
}
